*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.topnav{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 10px 0;
    background: black;
    transition: all 0.3s ease;
}
/* .topnav.sticky{
    background: black;
    padding: 10px 0;
} */
.nav-content{
    max-width: 1250px;
    padding: 0 30px;
    margin: auto;
}
.topnav .nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.topnav .logo a{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 24px;
    text-decoration: none;
}

.topnav .nav-links li{
    list-style: none;
}
.topnav .nav-links li a{
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    transition: all 0.3s ease;
}
.topnav .nav-links{
    /* display: flex;
    justify-content: space-around;
    width: 60%; */
    display: inline-flex;
}
/* .nav-links a{
    color: chartreuse;
} */
.nav-content .icon{
    color:#fff;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.nav-content .icon.cancel-btn{
    position:absolute;
    top: 15px;
    right: 30px;
}
@media (max-width:868px){
    body.disabledscroll{
        overflow: hidden;
    }
    .topnav .nav-links{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: black;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }
    .topnav .nav-links.active{
        right: 0%;
    }
    .topnav .nav-links li{
        margin-top: 45px;
    }
    .nav-content .icon{
        display: block;
    }
    .nav-content .icon.hide{
        display: none;
    }

}


/* About Me */

.container{
    /* max-width: 1100 px; */
    /* margin: 0 auto; */
    padding: 5em 3em;
    /* margin-top: 2em;  */
    /* text-align: center; */
    /* margin-bottom: 20em; */
    overflow: hidden;

}

.container h1{
    text-align: center;
}

.aboutme-content{
    margin-top: 3em;
    width: 90%;
    display: block;
    /* overflow: hidden; */
}
.right-side{
    width: 70%;
    float: right;
    padding-left: 50px;

}
.left-side{
    float: left;
    width: 30%; 
}
.left-side img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.container p{
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 30px 0 30px 0;
}
.container p a{
    color: inherit;
}

.social-contact{
    text-align: center;
    align-items: center;
}

.social-contact .social-button{
    display:inline-block;
    height: 60px;
    width: 60px;
    margin:0 5px;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);  
    transition: all 0.3s ease-out;      
}

.social-contact .social-button:hover{
    width: 200px;
}

.social-contact .social-button .social-icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    text-align: center;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.social-contact .social-button:nth-child(1):hover .social-icon{
    background:#0a66c2
}
.social-contact .social-button:nth-child(2):hover .social-icon{
    background:#333;
}
.social-contact .social-button .social-icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
}
.social-contact .social-button:hover .social-icon i{
    color:#fff;
}
.social-contact .social-button span{
    font-size: 25px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
    transition: all 0.3s ease-out;
}
.social-contact .social-button:nth-child(1):hover span{
    color:#0a66c2
}
.social-contact .social-button:nth-child(2):hover span{
    color:#333;
}
.social-contact .social-button a{
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 768px){
    .right-side{
        padding: 0px;
        width: 100%;
    }
    .left-side{
        width: 100%;
        display: block;
        margin: 50px auto;
    }
    .left-side img{
        width: 100%;  
    }
}


/* Research section */
.diffsection{
    padding-top: 3rem;
    margin-top:3rem;
    margin-bottom:3rem;
}
.all-project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;   
}
.project-container{
    margin: 1rem;
    perspective: 1000px;
   

}
.project{
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    /* margin: 10px; */
    padding: 5px; 
    box-shadow: 0 5px 5px rgba(0,0,0,0.15);
    transform-style:preserve-3d;
    transition: all 1s ease;
    
}
.project-image img{
    
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    
}

.project-body-header{
    margin-top: 1rem;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.project-work{
    text-align:left;
    line-height: 1.5rem;
}
.project-work ul{
    padding:8px;
    list-style-position: inside;
}
.project-work ul li{
    margin-top: 1rem;
}
.srabanti-paper{
    font-size: 15px;
}
.project-about{
    backface-visibility: hidden;
    grid-area: 1 / 1;
    
    
}
.project-body {
    width: 100%;
    height: 100%;
    overflow: auto;
    position:absolute;
    backface-visibility: hidden;
    grid-area: 1 / 1;
    transform: rotateY(180deg);
}
.project-container:hover .project{
    transform: rotateY(180deg);
}


@media screen and (max-width:990px){
    .all-project{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;
    }
}
@media screen and (max-width:650px){
    .all-project{
        grid-template-columns: 1fr;
   }
}


.section-title{
    position: relative;
    margin: 2rem;  
    text-align: center;
}
.section-title::before{
    content: '';
    position: absolute;
    top: -20%;
    left: 40%;
    background-color: black;
    height: 3px;
    width: 20%

}
.section-title::after{
    content: '';
    position: absolute;
    bottom: -20%;
    left: 40%;
    background-color: black;
    height: 3px;
    width: 20%;
    

}
/* skills section */

.all-skills{
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    padding: 1rem 80px;
    text-align: center; */
    display: flex;
    flex-wrap:wrap; 
    justify-content: center;
    align-items: center;
}
.skill{
    margin: 40px;
    /* background-color: aqua; */
    align-items: center;
    text-align: center;
    /* padding: 3px; */
}
 .skill-image img{
    height: 50px;
    width: auto;        
} 
.skill-title{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.expt-skill{
    height: 50px;
    /* width: 180px; */
    text-align: left;
    /* padding:1rem; */
}
.expt-skill ul{
    list-style-position: inside;
}

.slid{
    overflow: hidden;
}

.slide-container{
    position: relative;
    width:500%;
    height:400px;
    display: flex;
}
.slide-container input{
    /* position: absolute;
    bottom: 20px;
    left: 600px; */
    display:none;
}
.skill-slider{
    width:20%;
    transition: 2s;
}
.skill-slider h3{
    text-align: center;
}
 .slide-navigation-manual{
    position:absolute;
    /* width:1300px; */
    /* margin-top: 100px;   */
    display: flex;
    justify-content: center; 
    bottom: 20px;
    left: 10%;
}
.manual{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}
.manual:not(:last-child){
    margin-right: 10px;
}
.manual:hover{
    background: black;
}

#radio1:checked ~ .first{
    margin-left: 0;    
}
#radio2:checked ~ .first{
    margin-left: -20%
}
.slide-navigation-auto{
    
    position:absolute;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 400px;
    width:1300px; */
    bottom: 20px;
    left: 10%;
    

}
.slide-navigation-auto div{
    border: 2px solid black;
    padding:5px;
    border-radius: 10px;
    transition: 1s;
}
.slide-navigation-auto div:not(:last-child){
    margin-right:10px;
}

#radio1:checked ~ .slide-navigation-auto .auto-btn-slide1{
    background: black;

}
#radio2:checked ~ .slide-navigation-auto .auto-btn-slide2{
    background:black;
    
}
/* @media screen and (max-width:990px){
    .all-skills{
        grid-template-columns: repeat(2,1fr);
        padding: 2rem 50px;
    }
}
@media screen and (max-width:650px){
    .all-skills{
        grid-template-columns: 1fr;
   }
} */

footer {
    margin-top: 2rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    
}